{% extends 'base.html.twig' %}

{% block title %}Bills Import{% endblock %}

{% block body %}
    {# Display flash messages #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}
{% endblock %}
